# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ include "network-of-assistants.slim.fullname" . }}
  labels:
    {{- include "network-of-assistants.slim.labels" . | nindent 4 }}
spec:
  type: {{ .Values.networkOfAssistants.slim.service.type }}
  ports:
    - port: {{ .Values.networkOfAssistants.slim.service.dataPlane.port }}
      targetPort: 46357
      protocol: TCP
      name: data-plane
    - port: {{ .Values.networkOfAssistants.slim.service.controller.port }}
      targetPort: 46358
      protocol: TCP
      name: controller
  selector:
    {{- include "network-of-assistants.slim.selectorLabels" . | nindent 4 }}
